/* html[data-theme='dark'] {
  background-color: #121212;
  color: #ddd;
}

html[data-theme='dark'] .navbar.is-primary {
  background-color: #1f1f1f !important;
}

html[data-theme='dark'] .footer {
  background-color: #1a1a1a;
  color: #aaa;
}

html[data-theme='light'] {
  background-color: #fff;
  color: #222;
} */
